BSFaxApp/Service References/FaxService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51402/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FaxWebService" />
  <xs:element name="UploadPageChunk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FaxWebService" minOccurs="0" name="aPageChunk" nillable="true" type="q1:FaxPageChunk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPageChunkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadPageChunkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFax">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FaxWebService" minOccurs="0" name="composite" nillable="true" type="q2:Fax" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FaxWebService" minOccurs="0" name="SendFaxResult" nillable="true" type="q3:FaxStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>