BSFaxApp/Service References/FaxService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51402/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51402/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FaxWebService" />
      <xsd:import schemaLocation="http://localhost:51402/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51402/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Version1_UploadPageChunk_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPageChunk" />
  </wsdl:message>
  <wsdl:message name="Version1_UploadPageChunk_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadPageChunkResponse" />
  </wsdl:message>
  <wsdl:message name="Version1_UploadPageChunk_WSErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/FaxWebService" name="detail" element="q1:WSError" />
  </wsdl:message>
  <wsdl:message name="Version1_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="Version1_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="Version1_Ping_WSErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/FaxWebService" name="detail" element="q2:WSError" />
  </wsdl:message>
  <wsdl:message name="Version1_SendFax_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFax" />
  </wsdl:message>
  <wsdl:message name="Version1_SendFax_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFaxResponse" />
  </wsdl:message>
  <wsdl:message name="Version1_SendFax_WSErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/FaxWebService" name="detail" element="q3:WSError" />
  </wsdl:message>
  <wsdl:portType name="Version1">
    <wsdl:operation name="UploadPageChunk">
      <wsdl:input wsaw:Action="http://tempuri.org/Version1/UploadPageChunk" message="tns:Version1_UploadPageChunk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Version1/UploadPageChunkResponse" message="tns:Version1_UploadPageChunk_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Version1/UploadPageChunkWSErrorFault" name="WSErrorFault" message="tns:Version1_UploadPageChunk_WSErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/Version1/Ping" message="tns:Version1_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Version1/PingResponse" message="tns:Version1_Ping_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Version1/PingWSErrorFault" name="WSErrorFault" message="tns:Version1_Ping_WSErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFax">
      <wsdl:input wsaw:Action="http://tempuri.org/Version1/SendFax" message="tns:Version1_SendFax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Version1/SendFaxResponse" message="tns:Version1_SendFax_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Version1/SendFaxWSErrorFault" name="WSErrorFault" message="tns:Version1_SendFax_WSErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Version1" type="tns:Version1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadPageChunk">
      <soap:operation soapAction="http://tempuri.org/Version1/UploadPageChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSErrorFault">
        <soap:fault use="literal" name="WSErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/Version1/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSErrorFault">
        <soap:fault use="literal" name="WSErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendFax">
      <soap:operation soapAction="http://tempuri.org/Version1/SendFax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSErrorFault">
        <soap:fault use="literal" name="WSErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_Version1" binding="tns:BasicHttpBinding_Version1">
      <soap:address location="http://localhost:51402/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>